# Xcode

# User settings
xcuserdata/

# Swift Package Manager
Tuist/Package.resolved
Tuist/.swiftpm
Tuist/.build/

# for Tuist
**/*.xcodeproj
**/Derived/
*.xcworkspace
*.xcworkspace/contents.xcworkspacedata
Workspace.swift

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# for Modules
Modules/DesignSystem/
Modules/Bible/

# private
Signing/
Secrets/
master.key
Config/GoogleService-Info.plist

# etc
.DS_Store
