<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<!-- 폰트1 -->
		<string>AppleSDGothicNeoB.ttf</string>
		<string>AppleSDGothicNeoR.ttf</string>
		<string>AppleSDGothicNeoH.ttf</string>
		<string>AppleSDGothicNeoL.ttf</string>
		<string>AppleSDGothicNeoM.ttf</string>
		<!-- 폰트2 -->
		<string>Kavivanar-Regular.ttf</string>
	</array>

	<!-- 최소한의 번들 정보 유지하도록 하자구 요게바로 인포피리스트 oㅅo -->
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
</dict>
</plist>